@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lisboa<br />
    Morada: Parque Eduardo VII, 1070-099 Lisboa<br />
    <abbr title="Telefone">P:</abbr>
    215 085 785
</address>

<address>
    <strong>Inscrições:</strong>   <a href="mailto:inscricoes@megacraque.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@megacraque.com">Marketing@example.com</a>
</address>