@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ginasio Mega Craque</h1>
    <p class="lead">O melhor ginásio de Portugal.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Bem vindo ao Ginasio Mega Craque</h2>
        <p>
            Se está à procura de um espaço que preencha todos os requisitos para o seu bem-estar físico e mental, então está no sitio certo. No Mega Craque todos os dias vai encontrar uma equipa de profissionais dedicados e certificados que o acompanham desde o primeiro dia. Vamos ao encontro das suas necessidades e desenhamos um plano personalizado de forma a que consiga conjugar o seu dia a dia com a atividade física.

            O Mega Craque tem  modalidades para si, para os seus filhos e familiares. Se ainda não conhece o Clube, venha visitar-nos sem compromissos.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>